<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ShortLink</a>
    </div>
  </div>
</nav>


<div class="container">

  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <div class="form-group">
      <label for="longUrl">URL You Want to Short: </label>
      <input class="form-control" type="text" id="longUrl" name="longUrl" placeholder="Long URL" formControlName="longUrl" required />
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </form>
  <br>
  <div class="alert alert-info">
    URL entered is :
    <a href="{{ longUrl }}" target="_blank">
     {{ longUrl }}
    </a>
  </div>
  <div class="alert alert-success">
    It's ShortLink is :
    <a href="{{ shortUrl }}" target="_blank">
      {{ shortUrl }}
    </a>
  </div>
</div>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2021- Copyright:
    <a target="_blank" href="https://shortlink-url.herokuapp.com/MEXq"> Aditya Sonani </a>
  </div>
  

</footer> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ShortLink</a>
    </div>
  </div>
</nav>


<div class="container">
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <div class="form-group">
      <mat-form-field for="longUrl" class="input" appearance="fill">
        <mat-label>URL which you want to short</mat-label>
        <input type="text" id="longUrl" name="longUrl" formControlName="longUrl" matInput placeholder="Long URL">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" value="Submit">ShortLink</button>
  </form>
  <br>
  <div class="alert alert-info">
    URL entered is :
    <a href="{{ longUrl }}" target="_blank">
     {{ longUrl }}
    </a>
  </div>
  <mat-progress-bar *ngIf="isVisible" mode="indeterminate"></mat-progress-bar>
  <div class="alert alert-success">
    It's ShortLink is :
    <a href="{{ shortUrl }}" target="_blank">
      {{ shortUrl }}
    </a>
    <button *ngIf="copyButtonVisible" mat-raised-button [cdkCopyToClipboard]="shortUrl">Copy</button>
  </div>
</div>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2021- Copyright:
    <a target="_blank" href="https://shortlink-url.herokuapp.com/MEXq"> Aditya Sonani </a>
  </div>
  

</footer>
